<ion-content [fullscreen]="true">
  <div id="container">
    <ion-datetime
      placeholder='Working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021'
    ></ion-datetime>
    <ion-datetime
      placeholder='Working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021-09'
    ></ion-datetime>
    <ion-datetime
      placeholder='Working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021-09-01'
    ></ion-datetime>
    <ion-datetime
      placeholder='Not working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021-09-01T21:32'
    ></ion-datetime>
    <ion-datetime
      placeholder='Not working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021-09-01T21:32:21.916Z'
    ></ion-datetime>
    <ion-datetime
      placeholder='Not working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='2021-09-01T21:32:21.916-06:00'
    ></ion-datetime>
    <ion-datetime
      placeholder='Not working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='21:32'
    ></ion-datetime>
    <ion-datetime
      placeholder='Not working'
      display-format='h:mm A'
      picker-format='h:mm A'
      min='21:32:21'
    ></ion-datetime>
  </div>
</ion-content>
